.ant-form-item{
    margin-bottom: 0px;
    width: 100%;
}

.ant-input:focus {
    outline: none; /* Remove the focus border */
    box-shadow: none;
}

.ant-input-affix-wrapper:focus{
    box-shadow: none;
    outline: none;
}

.ant-picker{
    width: 100%;
}